@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

:root {
    --couleur-fond-principale: #0d001f;
    --couleur-fond-secondaire: #2d0033;
    --couleur-fond-sombre: #191717;
}
/* Selection du texte */
::-moz-selection { /** Pour firefox */
    color: rgb(255, 255, 255);
    background: #1B2432;
}
  
::selection {
    color: rgb(255, 255, 255);
    background: #1B2432;
}

/* Navigation */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

/* Boutons de navigation */
.slide-button {
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.8s;
    position: relative;
    z-index: 1;
}

.slide-button::before {
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    background-color: rgb(255, 255, 255);
    transition:transform 0.4s;
    transform: scaleX(0);
    transform-origin: left;
}

.slide-button:hover::before{
    transform: scaleX(1);
}

.slide-button:hover{
    color:#000;
}

body {
    font-family: 'Comfortaa', 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    color:#fff;
    background-color: #110e1a;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%2325223C' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%233D3845'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    background-attachment: fixed;
    background-size: 25%;
}

header {
    background-color: var(--couleur-fond-sombre);
    color: #fff;
    padding: 10px;
    text-align: center;
}

header a{
    padding: 10px;
}
a {
    color: #7237d1;
}

h2{
    font-size: 32px;
    text-decoration: underline;
    color: #ffffff;
    margin: 0;
}

section {
    position: relative;
    overflow: hidden;
    text-align: center;
}

#accueil {
    padding-top: 70px;

}


.text-image {

    margin: 20px;

    max-width: 1600px;
}

.text-image img {

    width: 500px;
}

#small {
    max-width: auto;
}

@media screen and (min-width: 1000px) {
    .text-image img {
        width: auto;
        max-width: 450px;
        padding-left: 70px;
    }

    .text-image {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 40px;
    
        padding-left: 50px;
        max-width: 1600px;
    }

    #small {
        width: auto;
        max-width: 450px;
    }

    .text-image img {
        max-width: 800px;
        padding-left: 200px;
    }
}

@media screen and (max-width: 1550px) {
    .text-image img {
        max-width: 450px;
        padding-left: 70px;
    }

    #small {
        max-width: 450px;
    }
}

.text-image p {
    font-size: 20px;
    padding-left: 0px;
    flex: 1;
    text-align: left;
}

.text-image h3{
    padding-left: 30px;
    font-size: 30px;
}

.text {
    flex: 1;
    text-align: left;
}

.text h2{
    padding-left: 40px;
    font-size: 50px;
    text-align: center;
    padding-bottom: 20px;
}

.text p{
    padding-left: 70px;
    padding-right: 1000px;
    font-size: 20px;
}

footer {
    text-align: center;
}