@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

:root {
    --couleur-fond-principale: #0d001f;
    --couleur-fond-secondaire: #2d0033;
    --couleur-fond-sombre: #191717;
}
/* Selection du texte */
::-moz-selection { /** Pour firefox */
    color: rgb(255, 255, 255);
    background: #1B2432;
}
  
::selection {
    color: rgb(255, 255, 255);
    background: #1B2432;
}

/* Navigation */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

/* Boutons de navigation */
.slide-button {
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.8s;
    position: relative;
    z-index: 1;
}

.slide-button::before {
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    background-color: rgb(255, 255, 255);
    transition:transform 0.4s;
    transform: scaleX(0);
    transform-origin: left;
}

.slide-button:hover::before{
    transform: scaleX(1);
}

.slide-button:hover{
    color:#000;
}

body {
    font-family: 'Comfortaa', 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    color:#fff;
    background-color: #110e1a;
    background-image: url("img/Background.svg");
    background-size: cover;
    background-attachment: fixed;
    background-size: 25%;
}

header {
    background-color: var(--couleur-fond-sombre);
    color: #fff;
    padding: 10px;
    text-align: center;
}

header a{
    padding: 10px;
}
a {
    color: #7237d1;
}

@media screen and (max-width: 640px) {
    header {
        display: none;
    }
}

h2{
    font-size: 32px;
    text-decoration: underline;
    color: #ffffff;
    margin: 0;
}

section {
    position: relative;
    overflow: hidden;
    text-align: center;
}

#accueil {
    padding-top: 70px;
}

.text-image {

    margin: 20px;
    max-width: 1600px;
}


#small {
    max-width: auto;
}

@media screen and (min-width: 1000px) {
    .text-image img {
        width: auto;
        max-width: 450px;
        padding-left: 70px;
    }

    .text-image {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 40px;
    
        padding-left: 50px;
        max-width: 1600px;
    }

    #small {
        width: auto;
        max-width: 450px;
    }

    .text-image img {
        max-width: 800px;
        padding-left: 200px;
    }
}
/* Resolution below 1550px wide */
@media screen and (max-width: 1550px) {
    .text-image img {
        max-width: 450px;
        width: auto;
        padding-left: 40px;
    }

    #small {
        max-width: 450px;
    }
}

.text-image p {
    font-size: 20px;
    padding-left: 0px;
    flex: 1;
    text-align: left;
}

.text-image h3{
    padding-left: 30px;
    font-size: 30px;
}

.text {
    flex: 1;
    text-align: left;
}

.text h2{
    padding-left: 40px;
    font-size: 50px;
    text-align: center;
    padding-bottom: 20px;
}

.text p{
    padding-left: 70px;
    padding-right: 1000px;
}

/* Resolution below 550px wide */
@media screen and (max-width: 550px) {
    .text-image img {
        width: 400px;
        padding-left: 0px;
    }

    .text-image p{
        font-size: 16px;
    }

    #small {
        max-width: 450px;
    }
}

footer {
    text-align: center;
}