body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    background-color: #110e1a;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255)fff;
}

.point {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #3D3845;
    border-radius: 50%;
}

.line {
    position: absolute;
    height: 1px;
    background-color: #1B182C;
    pointer-events: none;
}

.mouseline {
    position: absolute;
    height: 1px;
    background-color: #3f3864;
    pointer-events: none;
}
