@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

:root {
    --couleur-fond-principale: #0d001f;
    --couleur-fond-secondaire: #2d0033;
    --couleur-fond-sombre: #191717;
}
/* Selection du texte */
::-moz-selection { /** Pour firefox */
    color: rgb(255, 255, 255);
    background: #1B2432;
}
  
::selection {
    color: rgb(255, 255, 255);
    background: #1B2432;
}

/* Navigation */
ul li {
    display: inline-block;
    width: 33%;
}

@media screen and (max-width: 640px) {
    ul li {
        display: inline-block;
        width: 100%;
    }
}

/* Boutons de navigation */
.slide-button {
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.8s;
    position: relative;
    z-index: 1;
}

.slide-button::before {
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    background-color: rgb(255, 255, 255);
    transition:transform 0.4s;
    transform: scaleX(0);
    transform-origin: left;
}

.slide-button:hover::before{
    transform: scaleX(1);
}

.slide-button:hover{
    color:#000;
}

/* corps de la page */
body {
    font-family: 'Comfortaa', 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    color:#fff;
    background-color: #110e1a;
    /* background-image: url("img/Background.svg"); */
    background-size: cover;
    background-attachment: fixed;
    background-size: 25%;
}

.point {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #3D3845;
    border-radius: 50%;
}

.line {
    position: absolute;
    height: 1px;
    background-color: #1B182C;
    pointer-events: none;
}

.mouseline {
    position: absolute;
    height: 1px;
    background-color: #3f3864;
    pointer-events: none;
}

header {
    background-color: var(--couleur-fond-sombre);
    color: #fff;
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 640px) {
    header {
        display: none;
    }
}

header a{
    padding: 10px;
}
a {
    color: #7237d1;
}

h2{
    font-size: 32px;
    text-decoration: underline;
    color: #ffffff;
    margin: 0;
}

section {
    position: relative;
    overflow: hidden;
    text-align: center;
}

#accueil {
    background-color: #ffffff00;
    padding-top: 200px;
    padding: 40px;
    font-size: 20px;
}

@media screen and (max-width: 750px) {
    h2{
        font-size: 24px;
    }
    #accueil {
        padding-top: 150px;
        padding: 30px;
        font-size: 16px;
    }
}

#parcours-scolaire {
    background-color: #ffffff00;
    padding: 40px;
}


#projets p, #parcours-scolaire p {
    font-size: 16px;
    color: #666; 
}


/* projets */
#projets {
    background-color: #070707e9;
    padding: 40px;

}

#projets img {
    max-width: 50%; /* Ajuste la largeur de l'image comme vous le souhaitez */
}

#projets p {
    margin-left: 20px; /* Espace entre l'image et le texte */
    padding-bottom: 60px;
}

/* Projets en grille */
.mini-projets {
    padding-top: 20px;
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: 20px;
}

.mini-projet img {
    max-width: 100%;
    min-width: 200px;
}

/* .voir-projet{
    padding: 0px;
    background-color: #2d0033;
    margin: 0px;
} */
/* .description {
    margin: 0px;
    background-color: #d13737;
} */

/* Média query pour les écrans de petite taille (par exemple, smartphones) */
@media screen and (max-width: 750px) {
    .mini-projets {
        grid-template-columns: none;
    }

}


/* effet de vague */
#wave-section {
    padding: 20px;
    pointer-events: none;
}

.waveBottom,
.waveHome {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.waveBottom svg,
.waveHome svg {
    position: relative;
    display: block;
    width: calc(103% + 1.3px);
    height: 62px;
}

.waveHome,
.waveTop,
.waveBottom {
    pointer-events: none;
}

.waveTop {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.waveTop svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 124px;
}

.waveHome .shape-fill {
    fill: var(--couleur-fond-sombre);
}
.waveBottom, .waveTop .shape-fill {
    fill: #070707e9;;
}

@media screen and (max-width: 1200px) {
    .waveTop svg {
        height: 60px;
    }

    .waveBottom svg,
    .waveHome svg {
        height: 30px;
    }
} 


footer {
    text-align: center;
}