body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
  }
  
  h1, h2 {
    color: #343a40;
  }
  
  section {
    margin: 20px;
  }
  
  img {
    max-width: 100%;
  }
  
  footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  